*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background:  #184d47;
  min-height: 90vh;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

h2{
  margin-bottom: 1rem;
  text-decoration: underline;
}

P{
  margin-bottom: 1rem;
}

#app{
  width: 60%;
  max-width: 1200px;
  background: #01a9b4;
  border-radius: 5px;
}